/* 日间模式页面调整 */
[data-theme=light] {
    --card-bg: rgba(255,255,255,.9) !important; /* 全局背景调整 */
}

/* 夜间模式页面调整 */
[data-theme=dark] {
    --card-bg: rgba(26, 27, 29, .9) !important; /* 全局背景调整 */
    --btn-bg: #012c48 !important; /* 页面所有按钮夜间背景色 */
}

#aside-content.aside-content > .sticky_layout > .card-widget.card-clock > .card-glass > .card-background {
    background-color: unset;
    box-shadow: unset;
}

div.big-userbox {
    height: 200px;
}

div.big-userbox > div.userbox-left {
    float: left;
    width: 40%;
    height: 93%;
    margin: auto;
}

div.big-userbox > div.userbox-right {
    float: right;
    width: 60%;
    height: 93%;
    margin: auto;
}

div.big-userbox > div.userbox-right > .description {
    color:pink;
    font-size:30px;
    text-align: center;
}

div.ccer {
    clear: both;
}

img.small_icon {
    width: 30px;
    height: 30px;
}